h1{
    text-align: center;
}

button{
    width: 300px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
}

h2{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

label{
    text-align: center;
}

